{% extends '_base.html' %}
{% block title %}
    <title>{{ object.title_original }}</title>
{% endblock title %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'materials:index' %}">Домашня</a></li>
        </ol>
    </nav>
{% endblock breadcrumb %}

{% block content %}
    <div class="container">
        {#        <br/>#}
        <h2 class="text-center">{{ user.get_full_name }}</h2>
        {##}
        <div class="card" >
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4 >Логін: </h4>{{ user.username }}

                    </div>

                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-6">
                        <h4 >Вік: </h4>{{ user.fbinfo.age }}

                    </div>
                    <div class="col-md-6">
                        <h4 >Стать: </h4>{{ user.fbinfo.gender }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 >Домашнє місто: </h4>{{ user.fbinfo.home_address }}

                    </div>
                    <div class="col-md-6">
                        <h4 >Поточна локація: </h4>{{ user.fbinfo.location }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 >Кількість друзів у facebook: </h4>{{ user.fbinfo.friends_count }}

                    </div>
                </div>
                <hr/>

                <div class="table-responsive-md">
                    <h2>Матеріали, які ви оцінили</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th scope="col" style="width: 10%">Id</th>
                            <th scope="col" style="width: 30%">Назва</th>
                            <th scope="col" style="width: 30%">Тип</th>
                            <th scope="col" style="width: 30%">Оцінка</th>
                            {#          <th scope="col" style="width: 15%">Account name</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for mark in materials %}
                            {% with material=mark.material %}
                                <tr class="break_word">
                                    <th scope="row">
                                        <a href="{% url 'materials:details' material.material_type.slug material.id %}">{{ material.id }}</a>
                                    </th>
                                    <td style="">
                                        <a href="{% url 'materials:details' material.material_type.slug material.id %}">{{ material.title_original }}</a>
                                    </td>
                                    <td >
                                        <p>{{ material.material_type.title }}</p>
                                        {#                  <p>{{ letter.sending_datetime.time }}</p>#}
                                    </td>
                                    <td>
                                        {{ mark.mark }}
                                    </td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}